<ion-view>
  <ion-content>
    <div class="container text-center" ng-show="vm.posts == ''">
    <img src="loading.gif" alt="">
  </div>
<div class="list">

    <a class="item item-avatar" href="#" ng-repeat="post in vm.posts">
      <img ng-src="{{ post.user.image }}" alt="{{ post.user.name }}">
      <h2>{{ post.user.name }}</h2>
      <p>{{ post.message }}</p>
    </a>
</div>
 <div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Email">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>

</div>
  </ion-content>
</ion-view>